.card-author {
    display: block;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin: 15px 0 0;
    text-transform: uppercase;
}

.card-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
    text-transform: capitalize;
}

.card-description {
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
}

.card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
}

.card-read:after {
    background-color: #b8bddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%; 
}

.card-tag {
    float: right;
    margin: 5px 0 0;
    border: 1px solid#aaa;
    padding: 5px 10px;
    cursor: pointer;
}

.card-tag:hover {
    background: #aaa;
    color: black;
}

.card-media {
    max-width: 100%;
    height: auto;
}